@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sarala:wght@400;700&display=swap');

/* Reset CSS */
* {
    margin: 0; /*sem margem*/
    padding: 0; /*sem distancia do próximo conteúdo*/
    box-sizing: border-box; 
    text-decoration: none; /* tirar qualquer decoração que pode ter no texto */
}

body {
    font-size: 100%; /* tamanho da fonte 100% */
    background-color: #7D5043;
    height: auto;
}


/* flex - https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

span#burguer {
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

span#burguer:hover {
    background-color: #2f2325;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #5E3929;
    box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 5; /* Profundidade */

}

.cabecalho-logo {
    height: 72px;
    cursor: pointer;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

*,
*:before,
*:after {
    padding: 0;
    box-sizing: border-box;
}


.cabecalho-menu-item {
    position: relative;
    color: #FFF2E7;
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;

}

.cabecalho-menu-item:after {
    content: "";
    position: absolute;
    background-color: #ECD6C4;
    height: 3px;
    width: 0;
    left: 0%;
    bottom: -5px;
    transition: 0.3s;

}

.cabecalho-menu-item:hover {
    color: white;
}

.cabecalho-menu-item:hover:after {
    width: 100%;
}

.conteudo {
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    color: #FFF2E7;
    font-family: 'Righteous', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.conteudo-principal-escrito-subtitulo {
    color: #ECD6C4;
    font-family: 'Sarala', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.conteudo-principal-escrito-botao {
    background: #ffe9e9;
    border-radius: 20px;
    border: 0;
    width: 185px;
    height: 67px;   
    color: #2f2325;
    font-size: 24px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.25);
} 


.conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
    transform: scale(1.05);
}

.conteudo-principal-imagem {
    width: 50%;
    max-width: 400px;
    min-width: 200px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    color: #FFF2E7;
    font-family: 'Righteous', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 16px;
}

.conteudo-secundario-p {
    color: #ECD6C4;
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.conteudo-secundario-p:nth-of-type(3) {
    margin-bottom: 10%;
}

.titulo-card {
    color: #ECD6C4;
    font-size: 34px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 40px;
    font-family: 'Righteous', sans-serif;

}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 40px;
}

.card {
    width: 325px;
    background-color: #ECD6C4;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.6s ease;
    margin-bottom: 5%;
}

.card:hover {
    transform: translateY(-20px);
    z-index: 0;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card-content {
    padding: 20px;
}

.card-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.card-button {
    display: inline-block;
    background-color: #5E3929;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 15px;
    color: #fff;
}

.card-button:hover {
    background-color: #8E5D52;
    
}

footer {
    width: 100%;
    background: #8E5D52;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .p-social-footer {
    
} */

.social_icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social_icon li {
    list-style: none;
}
.social_icon li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social_icon li a:hover {
    transform: translateY(-10px);
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

main {
    min-height: 450px;
}

details {
    display: block;
    max-width: 960px; /*Largura da caixa*/
    width: 100%;
    margin: 20px auto;
    padding: 10px;
  }
  
  /*Vai cor de fundo dos títulos*/
  summary {
    display: block;
    background: #ECD6C4;
    color: #2f2325;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  summary:after {
    content: "+";
    color: #111;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    margin: -5px 5px 0 0;
    padding: 0;
    text-align: center;
    width: 20px;
  }
  
  #linha p {
    padding: 10px;
    background-color: #666;
    color: #ECD6C4;
    font-weight: bold;
    border-radius: 5px;
  }
  
  #linha[open] summary:after {
    content: "-";
    color: #111;
  }

  #burguer {
    display: none;
  }
  @media screen and (max-width: 620px) {
    .cabecalho-menu {
        display: none;
        flex-direction: column;
    }
    #burguer {
        display: block;
    }
  }
